/*Google fonts- poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Universal Selector for fonts*/
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
}